Repository openedx/tutor-contrib-aspects, pull requests merged in 2023-11, with the labels that each got.

#503 Adds ClickHouse system metrics to the Operator Dashboard's Clickhouse tab
  tutoraspects/templates/aspects/jobs/init/clickhouse/init-clickhouse.sh
  tutoraspects/templates/openedx-assets/assets/charts/clickhouse_metrics.yaml
  tutoraspects/templates/openedx-assets/assets/dashboards/Operator_Dashboard.yaml
  tutoraspects/templates/openedx-assets/assets/datasets/clickhouse_computed_metrics.yaml
Labels: open-source-contribution

#500 feat: add all default assets to aspects-superset image to avoid load it via larger file
  README.rst
  tutoraspects/templates/aspects/apps/superset/pythonpath/assets.yaml
  tutoraspects/templates/aspects/apps/superset/pythonpath/create_assets.py
  tutoraspects/templates/aspects/build/aspects-superset/Dockerfile
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Active_Users_Per_Organization.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Actor_IDs_over_time.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Course_Enrollments_Over_Time.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Course_Grade_Distribution.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Courses.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Courses_Per_Organization.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Currently_Enrolled_Learners_Per_Day.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distinct_forum_users.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Attempts.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Hints_Per_Correct_Answer.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Problem_Grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Responses.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Enrollment_Events_Per_Day.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Enrollments_By_Enrollment_Mode.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Enrollments_By_Type.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Event_type.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Events_per_course.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Last_Received_Event.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Last_course_syncronized.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Most_Active_Courses_Per_Day.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Posts_per_user.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Responses_Per_Problem.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Slowest_ClickHouse_Queries.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Total_Organizations.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Transcripts_Captions_Per_Video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Unique_actors.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watched_Video_Segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watches_Per_Video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/clickhouse_metrics.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/xAPI_Events_Over_Time.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Instructor_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Operator_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/databases/OpenedX_Clickhouse.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/clickhouse_computed_metrics.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/course_blocks.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/course_names.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/course_overviews.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/dim_course_problems.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/dim_course_videos.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_course_grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_enrollments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_enrollments_by_day.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_forum_interactions.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_learner_problem_course_summary.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_learner_problem_summary.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_responses.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_transcript_usage.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_plays.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_watched_video_segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/hints_per_success.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/posts_per_user.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/slowest_clickhouse_queries.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/xapi_events_all_parsed.yaml
Labels: open-source-contribution

#488 feat: adds Superset usage metadata charts to Operator Dashboard
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/monitoring.superset_active_users_590.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/monitoring.superset_active_users_rolling_592.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/monitoring.superset_charts_by_time_606.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/monitoring.superset_charts_by_type_605.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/monitoring.superset_dashboards_over_time_611.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/monitoring.superset_registered_users_368.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/monitoring.superset_top_charts_by_action_count_595.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/monitoring.superset_top_dashboards_by_action_count_594.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/monitoring.superset_top_users_by_action_count_365.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Operator_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/databases/Superset_Metadata.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/monitoring.superset_ab_user.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/monitoring.superset_action_log.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/monitoring.superset_dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/monitoring.superset_slices.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/monitoring.superset_tables.yaml
  tutoraspects/templates/aspects/jobs/init/mysql/init-mysql-post-migration.sh
  tutoraspects/templates/aspects/jobs/init/mysql/init-mysql.sh
Labels: open-source-contribution, core contributor, waiting for eng review

#515 refactor: replaces dashboard tab docs with link to openedx-aspects docs
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Instructor_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Operator_Dashboard.yaml
Labels: open-source-contribution, core contributor

#524 fix: use tutor variables to expose clickhouse container ports in k8s
  tutoraspects/patches/k8s-deployments
Labels: open-source-contribution

#525 Use shortened course key on Operator Course charts
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Events_per_course.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Most_Active_Courses_Per_Day.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Operator_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/xapi_events_all_parsed.yaml
Labels: open-source-contribution, core contributor

#521 feat: add external id table
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0026_event_sink_external_id.py
Labels: waiting on author, open-source-contribution, core contributor
