Repository openedx/tutor-contrib-aspects, pull requests merged in 2024-04, with the labels that each got.

#681 fix: install aspects-dbt package requirements before running dbt
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/apps/aspects/scripts/dbt.sh
Labels: open-source-contribution

#685 feat: upgrade to clickhouse 24.3 LTS
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/jobs/init/clickhouse/init-clickhouse.sh
  tutoraspects/templates/openedx-assets/queries/fact_enrollments.sql
  tutoraspects/templates/openedx-assets/queries/fact_learner_problem_summary.sql
  tutoraspects/templates/openedx-assets/queries/fact_pageview_engagement.sql
  tutoraspects/templates/openedx-assets/queries/int_problem_responses.sql
Labels: open-source-contribution

#696 feat: add problem engagement dropoff chart to instructor dashboard (FC-0051)
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_engagement_by_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Instructor_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_engagement.yaml
  tutoraspects/templates/openedx-assets/queries/fact_problem_engagement.sql
Labels: open-source-contribution

#700 feat: add chart for full and partial video views (FC-0051)
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_full_views_per_video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Instructor_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_watches.yaml
  tutoraspects/templates/openedx-assets/queries/fact_video_watches.sql
  tutoraspects/templates/openedx-assets/queries/fact_watched_video_segments.sql
Labels: open-source-contribution

#693 feat: migrate to superset v4.0.0
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/apps/superset/pythonpath/create_assets.py
  tutoraspects/templates/aspects/apps/superset/pythonpath/performance_metrics.py
  tutoraspects/templates/aspects/apps/superset/pythonpath/superset_config_docker.py
  tutoraspects/templates/aspects/build/aspects-superset/Dockerfile
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Course_Grade_Distribution.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Currently_Enrolled_Learners_Per_Day.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distinct_forum_users.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Attempts.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Hints_Per_Correct_Answer.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Problem_Grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Responses.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Enrollments_By_Enrollment_Mode.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Posts_per_user.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Responses_Per_Problem.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Transcripts_Captions_Per_Video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watched_Video_Segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watches_Per_Video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Instructor_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/course_names.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/dashboards.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/dim_course_problems.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/dim_course_videos.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_course_grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_enrollments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_enrollments_by_day.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_forum_interactions.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_learner_problem_course_summary.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_learner_problem_summary.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_pageview_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_responses.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_transcript_usage.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_plays.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_watched_video_segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/hints_per_success.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/posts_per_user.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/superset_action_log.yaml
  tutoraspects/templates/aspects/build/aspects-superset/requirements.txt
  tutoraspects/templates/openedx-assets/queries/fact_learner_problem_course_summary.sql
  tutoraspects/templates/openedx-assets/queries/fact_pageview_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_problem_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_plays.sql
  tutoraspects/templates/openedx-assets/queries/posts_per_user.sql
Labels: open-source-contribution

#697 fix: allow to embed translated dashboards
  tutoraspects/patches/openedx-common-settings
  tutoraspects/patches/openedx-dev-dockerfile-post-python-requirements
  tutoraspects/patches/openedx-dockerfile-post-python-requirements
  tutoraspects/templates/aspects/apps/superset/pythonpath/create_assets.py
Labels: open-source-contribution

#703 fix: set correct schema for all datasets
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/ab_user.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/course_blocks.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/course_names.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/course_overviews.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/dashboards.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/dim_course_problems.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/dim_course_videos.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_course_grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_enrollments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_enrollments_by_day.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_forum_interactions.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_learner_problem_course_summary.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_learner_problem_summary.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_pageview_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_responses.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_transcript_usage.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_plays.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_watched_video_segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/hints_per_success.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/indexed_events.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/posts_per_user.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/query_log.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/slices.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/slowest_clickhouse_queries.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/superset_action_log.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/user_pii.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/xapi_events_all_parsed.yaml
  tutoraspects/templates/openedx-assets/queries/indexed_events.sql
Labels: open-source-contribution

#705 fix: set dashboard color_schema to supersetColors
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Individual_Learner_Reports.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Instructor_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Learner_Groups_Reports.yaml
Labels: open-source-contribution

#707 fix: automatically add RLSF to all tables
  tutoraspects/templates/aspects/apps/superset/pythonpath/create_assets.py
  tutoraspects/templates/aspects/apps/superset/pythonpath/create_row_level_security.py
  tutoraspects/templates/aspects/jobs/init/superset/init-superset.sh
Labels: open-source-contribution

#711 feat: remove instructor dashboard and related assets
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Course_Grade_Distribution.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Currently_Enrolled_Learners_Per_Day.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distinct_forum_users.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Attempts.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Hints_Per_Correct_Answer.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_Of_Problem_Grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Enrollments_By_Enrollment_Mode.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Pageview_engagement_by_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_engagement_by_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Responses_Per_Problem.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Transcripts_Captions_Per_Video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_engagement_by_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Instructor_Dashboard.yaml
Labels: open-source-contribution, core contributor

#712 feat: remove unnecessary settings
  tutoraspects/patches/k8s-deployments
  tutoraspects/patches/k8s-jobs
  tutoraspects/patches/local-docker-compose-jobs-services
  tutoraspects/patches/openedx-common-settings
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/apps/aspects/dbt/profiles.yml
  tutoraspects/templates/aspects/apps/aspects/dbt/requirements.txt
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0007_event_sink.py
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0016_event_sink_user_profile.py
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0023_extend_display_names.py
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0026_event_sink_external_id.py
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0027_partition_event_sink_user_profile.py
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0028_user_pii.py
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0031_add_email_user_profile.py
  tutoraspects/templates/aspects/apps/aspects/scripts/dbt.sh
  tutoraspects/templates/aspects/apps/ralph/config/env
  tutoraspects/templates/aspects/apps/superset/pythonpath/superset_config.py
  tutoraspects/templates/aspects/apps/superset/pythonpath/superset_config_docker.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/course_blocks.yaml
  tutoraspects/templates/aspects/jobs/init/clickhouse/deduplicate.sh
  tutoraspects/templates/openedx-assets/queries/fact_watched_video_segments.sql
  tutoraspects/templates/openedx-assets/queries/indexed_events.sql
Labels: waiting on author, open-source-contribution, core contributor

#723 feat: add configurable TTL
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/apps/aspects/scripts/dbt.sh
Labels: open-source-contribution

#690 feat: migrate aspects dictionaries to dbt
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/apps/aspects/dbt/profiles.yml
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0035_migrate_dictionaries.py
  tutoraspects/templates/aspects/apps/aspects/scripts/dbt.sh
  tutoraspects/templates/aspects/build/aspects/requirements.txt
Labels: open-source-contribution, core contributor

#724 fix: link filters to the course_name dataset
  scripts/serialize-assets.py
  tutoraspects/patches/openedx-dev-dockerfile-post-python-requirements
  tutoraspects/patches/openedx-dockerfile-post-python-requirements
  tutoraspects/templates/aspects/apps/superset/pythonpath/create_assets.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Course_Dashboard_V1.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/course_names.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_enrollment_status.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_navigation.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_navigation_completion.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_student_status.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/int_problem_results.yaml
Labels: open-source-contribution

#726 chore: refactor process_asset logic
  tutoraspects/templates/aspects/apps/superset/pythonpath/create_assets.py
Labels: open-source-contribution

#731 fix: use correct datasets for engagement charts (FC-0051)
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Course_Dashboard_V1.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_engagement.yaml
Labels: open-source-contribution

#729 feat: allow to filter course id for performance metrics
  tutoraspects/commands_v0.py
  tutoraspects/commands_v1.py
  tutoraspects/templates/aspects/apps/superset/pythonpath/performance_metrics.py
Labels: open-source-contribution

#738 feat: add video plays table to course dashboard (FC-0051)
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_by_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Course_Dashboard_V1.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_plays.yaml
Labels: open-source-contribution

#741 fix: apply filters to course dashboard datasets (FC-0051)
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_full_views_per_video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_by_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Course_Dashboard_V1.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_pageview_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_plays.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_watches.yaml
  tutoraspects/templates/openedx-assets/queries/fact_pageview_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_watches.sql
  tutoraspects/templates/openedx-assets/queries/fact_watched_video_segments.sql
Labels: open-source-contribution

#743 fix: upgrade platform-plugin-aspects on production image
  tutoraspects/patches/openedx-dockerfile-post-python-requirements
Labels: open-source-contribution

#750 fix: use proper casing for splitByString (FC-0051)
  tutoraspects/templates/openedx-assets/queries/fact_watched_video_segments.sql
Labels: open-source-contribution
