Repository openedx/tutor-contrib-aspects, pull requests merged in 2024-05, with the labels that each got.

#765 feat: add materials for at-risk learner group (FC-0051)
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/At-risk_Enrollees_per_Enrollment_Track.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/At-risk_Enrollment_Dates.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/At-risk_learners.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Cumulative_Interactions_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_of_Course_Grades.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Evolution_of_Engagement_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Last_visit_date.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_section_subsection_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_Full_Views_Per_Video_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_Interactions_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_Results_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section_subsection_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Section_Summary_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Subsection_Summary_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_Views_by_Section_Subsection_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_Views_per_Section_Subsection_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watched_Video_Segments_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/At-Risk_Learners.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Learner_Groups_Reports.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/at_risk_problem_results.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/dim_at_risk_learners.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_navigation_completion.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_pageview_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_problem_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_video_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_video_plays.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_video_watches.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_watched_video_segments.yaml
  tutoraspects/templates/openedx-assets/queries/at_risk_problem_results.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_navigation_completion.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_pageview_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_problem_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_video_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_video_plays.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_video_watches.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_watched_video_segments.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_watches.sql
Labels: open-source-contribution

#775 fix: automatically add verbose name for dataset columns
  tutoraspects/asset_command_helpers.py
  tutoraspects/templates/aspects/apps/superset/pythonpath/create_assets.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Course_Information.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Cumulative_Enrollments_by_Track.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Cumulative_Interactions.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Current_Enrollees.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Distribution_of_Current_Course_Grade.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Enrollees_per_Enrollment_Track.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Evolution_of_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Learners_with_Passing_Grade.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_full_views_per_video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_Results.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_interactions.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Section_Summary.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Subsection_Summary.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_by_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watched_Video_Segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Course_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/enrollment_status.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_enrollments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_navigation_completion.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_pageview_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_student_status.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_plays.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_watches.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_watched_video_segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/int_problem_results.yaml
Labels: open-source-contribution

#786 feat: import new individual learner dashboard
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Learner_Summary.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_section.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_full_views_per_video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_full_views_per_video_table.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_Results.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_per_section.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_per_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watched_Video_Segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Individual_Learner.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Individual_Learner_Reports.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/learner_summary.yaml
Labels: open-source-contribution

#798 chore: bump version manually
  .github/workflows/build-image.yaml
  .github/workflows/bump-version.yaml
Labels: open-source-contribution

#794 fix: verify event bus producer config is defined
  tutoraspects/patches/openedx-common-settings
Labels: open-source-contribution

#791 fix: show correct value on watched segments x-axis (FC-0051)
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watched_Video_Segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watched_Video_Segments_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_watched_video_segments.yaml
Labels: open-source-contribution

#803 fix: increase gunicorn keep alive to 5
  tutoraspects/patches/k8s-deployments
Labels: open-source-contribution

#804 feat: use jinja for watched video segments query (FC-0051)
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_watched_video_segments.yaml
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_watched_video_segments.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_watches.sql
  tutoraspects/templates/openedx-assets/queries/fact_watched_video_segments.sql
Labels: open-source-contribution, backport

#808 Course dashboard fixes
  tutoraspects/templates/aspects/apps/superset/pythonpath/openedx_jinja_filters.py
  tutoraspects/templates/aspects/apps/superset/pythonpath/superset_config_docker.py
  tutoraspects/templates/aspects/build/aspects-superset/localization/datasets_strings.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_full_views_per_video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_Results.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_Results_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_interactions.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Watched_Video_Segments.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/dashboards/Course_Dashboard.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_navigation_completion.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_pageview_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/int_problem_results.yaml
  tutoraspects/templates/openedx-assets/queries/fact_navigation_completion.sql
  tutoraspects/templates/openedx-assets/queries/fact_page_views.sql
  tutoraspects/templates/openedx-assets/queries/fact_problem_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_engagement.sql
  tutoraspects/templates/openedx-assets/queries/int_problem_results.sql
Labels: bug, aspects v1, backport

#806 Remove JSON column from migrations
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0002_raw_xapi_table.py
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0029_drop_json_column.py
  tutoraspects/templates/aspects/apps/aspects/migrations/alembic/versions/0030_rename_vector_json_column.py
Labels: bug, aspects v1, backport

#807 fix: Fix KeyError in compile_translations
  tutoraspects/templates/aspects/build/aspects-superset/localization/locale.yaml
  tutoraspects/translations/translate_utils.py
Labels: bug, aspects v1, backport

#811 feat(perf): improve time of running dbt by pre installing requirements
  tutoraspects/templates/aspects/build/aspects/Dockerfile
Labels: open-source-contribution

#815 feat: add init clickhouse job
  .github/workflows/integration-test.yml
  tutoraspects/commands_v0.py
  tutoraspects/commands_v1.py
Labels: open-source-contribution

#816 fix: add key for memoized_func
  tutoraspects/templates/aspects/apps/superset/pythonpath/superset_config_docker.py
Labels: open-source-contribution

#823 fix: Use enrolled date if last visited is not set
  tutoraspects/templates/openedx-assets/queries/fact_learner_summary.sql
Labels: open-source-contribution

#827 build: fail on error on every environment
  .github/workflows/integration-test.yml
Labels: open-source-contribution

#825 feat: upgrade aspects-dbt to v3.26.0
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_engagement.yaml
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_problem_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_problem_engagement.sql
  tutoraspects/templates/openedx-assets/queries/int_problem_results.sql
Labels: open-source-contribution

#826 feat: use video engagement from MV
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_Full_Views_Per_Video_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_full_views_per_video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_full_views_per_video_table.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_video_watches.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_watches.yaml
  tutoraspects/templates/openedx-assets/queries/fact_video_engagement.sql
Labels: open-source-contribution

#833 feat: move page engagement to an mv
  tutoraspects/plugin.py
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_section.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_section_subsection_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Page_views_per_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Partial_and_full_views_per_video.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_Interactions_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_Results.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_Results_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problem_interactions.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_section_subsection_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Problems_attempted_per_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_Views_by_Section_Subsection_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_Views_per_Section_Subsection_at-risk.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_by_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_per_section.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_per_section_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/charts/Video_views_per_subsection.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/at_risk_problem_results.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_problem_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_video_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_at_risk_video_plays.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_pageview_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_problem_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_engagement.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/fact_video_plays.yaml
  tutoraspects/templates/aspects/build/aspects-superset/openedx-assets/assets/datasets/int_problem_results.yaml
  tutoraspects/templates/openedx-assets/queries/fact_page_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_page_views.sql
Labels: open-source-contribution

#834 chore: automatically format sql files
  Makefile
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  tutoraspects/templates/openedx-assets/queries/at_risk_learner_filter.sql
  tutoraspects/templates/openedx-assets/queries/at_risk_problem_results.sql
  tutoraspects/templates/openedx-assets/queries/common_filters.sql
  tutoraspects/templates/openedx-assets/queries/dim_at_risk_learners.sql
  tutoraspects/templates/openedx-assets/queries/dim_course_problems.sql
  tutoraspects/templates/openedx-assets/queries/dim_course_videos.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_navigation_completion.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_pageview_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_problem_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_video_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_video_plays.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_video_watches.sql
  tutoraspects/templates/openedx-assets/queries/fact_at_risk_watched_video_segments.sql
  tutoraspects/templates/openedx-assets/queries/fact_course_grades.sql
  tutoraspects/templates/openedx-assets/queries/fact_enrollment_pii.sql
  tutoraspects/templates/openedx-assets/queries/fact_enrollments.sql
  tutoraspects/templates/openedx-assets/queries/fact_enrollments_by_day.sql
  tutoraspects/templates/openedx-assets/queries/fact_forum_interactions.sql
  tutoraspects/templates/openedx-assets/queries/fact_learner_problem_course_summary.sql
  tutoraspects/templates/openedx-assets/queries/fact_learner_problem_summary.sql
  tutoraspects/templates/openedx-assets/queries/fact_learner_summary.sql
  tutoraspects/templates/openedx-assets/queries/fact_navigation_completion.sql
  tutoraspects/templates/openedx-assets/queries/fact_page_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_problem_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_problem_grades.sql
  tutoraspects/templates/openedx-assets/queries/fact_problem_responses.sql
  tutoraspects/templates/openedx-assets/queries/fact_transcript_usage.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_engagement.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_plays.sql
  tutoraspects/templates/openedx-assets/queries/fact_video_watches.sql
  tutoraspects/templates/openedx-assets/queries/fact_watched_video_segments.sql
  tutoraspects/templates/openedx-assets/queries/hints_per_success.sql
  tutoraspects/templates/openedx-assets/queries/indexed_events.sql
  tutoraspects/templates/openedx-assets/queries/int_problem_responses.sql
  tutoraspects/templates/openedx-assets/queries/int_problem_results.sql
  tutoraspects/templates/openedx-assets/queries/posts_per_user.sql
  tutoraspects/templates/openedx-assets/queries/slowest_clickhouse_queries.sql
  tutoraspects/templates/openedx-assets/queries/superset_action_log.sql
  tutoraspects/templates/openedx-assets/queries/user_filters.sql
Labels: open-source-contribution

#837 chore: upgrade aspects-dbt to v3.28.1
  tutoraspects/plugin.py
Labels: open-source-contribution
